services:
  web:
    build: .
    ports:
      - "5050:5050"
    volumes:
      - ./gallery.db:/app/gallery.db # Persist database
      - ./.env:/app/.env # Mount env file
    environment:
      - REDIS_URL=redis://redis:6379/0
    depends_on:
      - redis
    restart: always
    x-casaos:
      name: "Lumina Host"
      icon: "https://cdn-icons-png.flaticon.com/512/8377/8377243.png"
      description: "Secure, decoupled image gallery with WordPress integration."
      category: "Media"
      port_map: "5050"
      scheme: "http"
      index: "/"

  redis:
    image: redis:alpine
    ports:
      - "6380:6379"
    restart: always
    volumes:
      - redis_data:/data

volumes:
  redis_data:
